body {
    background-color: #F5DA81;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.6em;
  }
  
  div {
    padding-top: 1%;
    padding-bottom: 5px;
  }
  
  h2 {
      font-size: 40px;
      padding-top:1%;
      padding-bottom:2%;
      text-align: center;
      color: #FFFFFF;
  }
  
  h3{
    font-size: 25px;
    padding-top:1%;
    padding-bottom:2%;
    text-align: center;
    color: #FFFFFF;
  }

  input {
      width: 60%;
      padding-top:2%;
      margin: 10px;
      display: inline-block;
      font-size: 18px;
      border-radius: 10px;
      border: 3px solid #F5ECCE;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
  }
  
  input:focus {
    border: 3px solid #FACC2E;
  }

  #safe{
    background-color: white;
    display: inline-block;
    margin: 10px;
    border: 2px solid #FACC2E;
    width: 50%;
    padding: 10px;

  }
  
  

@media only screen and (min-width: 768px) {
  
   body {
    background-color: #F5DA81;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Barlow Semi Condensed', sans-serif;
  }
  
  div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  h2 {
      font-size: 50px;
      padding-top:4%;
      padding-bottom:2%;
      text-align: center;
      color: #FFFFFF;
  }
  
  h3 {
     font-size: 35px;
      padding-top:4%;
      padding-bottom:2%;
      text-align: center;
      color: #FFFFFF;
  }

  input {
      width: 40%;
      padding-top:1%;
      padding-bottom: 1%;
      margin: 3px;
      display: inline-block;
      font-size: 15px;
      border-radius: 10px;
      border: 3px solid #F5ECCE;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
  }
  
   input:focus {
    border: 3px solid #FACC2E;
  }
  
  #safe{
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid #FACC2E;
    width: 40%;
    padding: 5px;
  }

}
