/*For mobile*/
@media screen and (min-width: 480px) {
  h2 {
      font-size: 50px;
      padding-top:1%;
      padding-bottom:2%;
      text-align: center;
      color: #8000FF;
  }
  
  #info {
      background-color: #F2F3F4;
      text-align: center;
  }

  input {
      width: 50%;
      padding: 10px 15px;
      margin: 10px;
      display: inline-block;
  }

  #safe{
      background-color: #566573;
      display: inline-block;
      font-size: 15px;
  }

  #Echeck{
      background-color: white;
      border-color: #9A2EFE;
      display: inline-block;
      border-radius: 10px;
  }
}
  
/*For Desktop*/
@media only screen and (max-width: 992px) {
  h1 {
      font-size: 50px;
      padding-top:4%;
      padding-bottom:2%;
      text-align: center;
      color: #8000FF
  }
  #form_body {
      background-color: #F2F3F4;
      text-align: center;
  }
  input {
      width: 40%;
      padding: 10px 20px;
      margin: 10px;
      display: inline-block;
  }
  #safe{
      background-color: #566573;
      display: inline-block;
      font-size: 10px;
  }

  #Echeck{
      background-color: white;
      border-color: #9A2EFE;
      display: inline-block;
      border-radius: 10px;
  }
}
