/*For Desktop*/
@media screen and (min-width: 480px) {
  h2 {
      font-size: 40px;
      padding-top:1%;
      padding-bottom:2%;
      text-align: center;
      color: #FFFFFF;
      font-weight: 800;
  }

  input {
      width: 50%;
      padding: 10px 15px;
      margin: 10px;
      display: inline-block;
      font-size: 22px;
  }

  #safe{
      background-color: #E3CEF6;
      display: inline-block;
  }

  #Echeck{
      background-color: #E3CEF6;
      display: inline-block;
      border-radius: 10px;
      width: 100px;
  }
  
  #shape {
    border-radius: 10px;
    background-color: #BE81F7;
  }
  
  label {
    font-weight: 800;
    font-size: 20px;
  }
  
}
  
/*For Mobile*/
@media only screen and (max-width: 992px) {
  
  body {
    background-color: #BE81F7;
  }
  h2 {
      font-size: 50px;
      padding-top:4%;
      padding-bottom:2%;
      text-align: center;
      font-weight: 700;
      color: #FFFFFF;
  }

  input {
      width: 100%;
      padding: 10px 20px;
      margin: 10px;
      display: inline-block;
      font-size: 24px;
  }
  #safe{
      background-color: #E3CEF6;
      display: inline-block;
      width: 100%;
  }

  #Echeck{
      background-color: #E3CEF6;
      display: inline-block;
      border-radius: 10px;
      width: 100%;
  }
}
