/*For Desktop*/
@media screen and (min-width: 768px) {
  h2 {
      font-size: 40px;
      padding-top:1%;
      padding-bottom:2%;
      text-align: center;
      color: #FFFFFF;
  }

  input {
      width: 40%;
      padding-top:1%;
      margin: 10px;
      display: inline-block;
      font-size: 15px;
    border-radius: 10px;
    border: 2px solid #E3CEF6;
  }

  #safe{
    background-color: white;
    display: inline-block;
    margin: 10px;
    border: 2px solid #E3CEF6;
    width: 50%;
    padding: 5px;

  }

  #Echeck{
    background-color: white;
    display: inline-block;
    margin: 5px;
    border: 2px solid #E3CEF6;
    width: 20%;
    padding: 5px;
  }
  
  #shape {
    padding-top: 1%;
    border-radius: 10px;
    background-color: #BE81F7;
    color: white;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  
}
  
/*For Mobile*/
@media only screen and (max-width: 768px) {
  
  body {
    background-color: #BE81F7;
    color: white;
  }
  h2 {
      font-size: 50px;
      padding-top:4%;
      padding-bottom:2%;
      text-align: center;
      color: #FFFFFF;
  }

  input {
      width: 60%;
      padding-top:1%;
      margin: 5px;
      display: inline-block;
      font-size: 19px;
    border-radius: 10px;
  }
  #safe{
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid #E3CEF6;
    width: 50%;
    padding: 10px;
  }

  #Echeck{
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid #E3CEF6;
    width: 50%;
    padding: 10px;
  }
  #shape {
    margin: auto;
    text-align: center;
  }
}
